
.formTitle{
    margin: 25px auto;
    width: fit-content;
}

.formContainer{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: var(--card-bg-color);
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.removeBtn{
    position: absolute;
    font-size: 17px;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #D84040;
    padding-bottom: 1px;
}
.removeBtn:disabled{
    opacity: .3;
}

