.btn{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    transition: border-color 0.25s;
}

.btn:hover{
    border-color: var(--btn-border-color);
}

.btn:focus,
.btn:focus-visible{
    outline: 4px auto #2f2f2f;
}

.btn:disabled{
    opacity: .5;
    pointer-events: none;
}
.active{
    color: #000;
    background-color: #f59015;;
}