.inputContainer{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: var(--card-bg-color);
    position: relative;
}

.searchIcon{
    position: absolute;
    top: 10px;
    left: 10px;
}

.input{
    width: 100%;
    height: 100%;
    padding: 12px 12px 12px 45px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    color: var(--text-color);
}