.controlContainers{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.noCardsInfo{
    width: fit-content;
    margin: 0 auto;
}

.select{
    height: 40px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: var(--card-bg-color);
    color: var(--text-color);
    flex-grow: 1;
}

.paginationContainer{
    width: fit-content;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 10px 25px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

@media (max-width: 576px){
    .controlContainers{
        flex-wrap: wrap-reverse;
    }
}